:root {
    --bg-dark: #0D0D0D;
    --bg-light: #171717;
    --text: #707070;

    --text-font: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
}

.container {
    min-width: 30%;
    height: 100vh;
    display: grid;
    grid-template-rows: .5fr 1fr;
    background-color: var(--bg-light);
    padding: 20px;
    color: var(--text);
    font-family: var(--text-font);
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space {
    justify-content: space-between;
}

.center {
    text-align: center;
}

.space {
    padding: 20px 0;
}

.space-large {
    padding: 40px 0;
}

.round-picker-count {
    font-size: 3.5rem;
}

.icons {
    font-size: 2.5rem;
    padding: 0 20px;
    cursor: pointer;
    
}

.icon-button {
    font-size: 5rem;
    padding: 20px 0;
}

.outer-circle {
    width: 400px;
    height: 400px;
    background-color: rgba(23, 23, 23, 1);
    color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,1) inset, -1px -1px 12px 0px rgb(49, 49, 49) inset;
}

.inner-circle {
    width: 200px;
    height: 200px;
    background-color: rgba(23, 23, 23, 1);
    color: #fff;
    border-radius: 500px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,1),
-1px -1px 6px 0px rgba(60,60,60,1);
}